<!-- header.component.html -->

<mat-toolbar color="primary">
  <div style="float: left; width: 100%;">
    <h1>Seu Título</h1>
  </div>

  <div *ngIf="isLoggedIn()">
    <span class="clientName">{{ clienteName }} </span>
    
    <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-right: 5px;">
      <mat-icon class="menu-icon">more_vert</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="profile()">Perfil</button>
      <button mat-menu-item (click)="about()">Sobre</button>
    </mat-menu>

    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    
  </div>

  
</mat-toolbar>
