/* header.component.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0; /* Adicione esta linha para remover a margem */
  }
  
  h1 {
    margin: 0;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .clientName {
    margin-right: 5px;
  }
  