<!-- profile.component.html -->

<div class="profile-container">
    <h2>Perfil do Usuário</h2>
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
  
      <mat-form-field class="form-group">
        <mat-label for="firstName">Nome:</mat-label>
        <input matInput id="firstName" formControlName="firstName" required>
      </mat-form-field>

      <mat-form-field class="form-group">
        <mat-label for="lastName">Sobrenome:</mat-label>
        <input matInput id="lastName" formControlName="lastName" required>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label for="username">Usuário:</mat-label>
        <input matInput id="username" formControlName="username" required>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label for="password">Senha:</mat-label>
        <input matInput id="password" formControlName="password" type="password" required>
      </mat-form-field>
  
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="accent" type="button" (click)="goBack()">Voltar</button>
      </div>
      
    </form>
  </div>
  