/* profile.component.css */

.profile-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 16px;
    width: 100%;
  }
  
  /* Adicionando espaçamento interno (padding) aos elementos mat-form-field */
  .mat-form-field {
    width: 100%;
    margin-bottom: 16px; /* Adicionando margem inferior */
  }
  
  /* Ajustando margem inferior do botão */
  button {
    margin-bottom: 16px;
  }
  